In [1]:
import pandas as pd
import numpy as np

In [2]:
BostonHousing = pd.read_csv("HousingData.csv")

In [3]:
BostonHousing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
BostonHousing.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [5]:
BostonHousing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [6]:
BostonHousing['CRIM'].fillna(BostonHousing['CRIM'].mean(), inplace = True)
BostonHousing['ZN'].fillna(BostonHousing['ZN'].median(), inplace = True)
BostonHousing['INDUS'].fillna(BostonHousing['INDUS'].median(), inplace = True)
BostonHousing['CHAS'].fillna(BostonHousing['CHAS'].median(), inplace = True)
BostonHousing['AGE'].fillna(BostonHousing['AGE'].mean(), inplace = True)
BostonHousing['LSTAT'].fillna(BostonHousing['LSTAT'].median(), inplace = True)

In [7]:
BostonHousing['CRIM'].median()

0.29025

In [8]:
BostonHousing.loc[(BostonHousing['CRIM'].median() < BostonHousing.CRIM), "COL"] = 1
BostonHousing.loc[(BostonHousing['CRIM'].median() > BostonHousing.CRIM), "COL"] = 0

In [9]:
BostonHousing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,COL
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,0.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,0.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,11.43,36.2,0.0

In [10]:
BostonHousing.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
COL        0
dtype: int64

In [11]:
x = BostonHousing.drop('COL',axis = 1)
y = BostonHousing['COL']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 1)

In [13]:
from sklearn.linear_model import Perceptron
p = Perceptron(tol = 0.0001, eta0 = 0.1, max_iter = 10)
p.fit(x_train, y_train)

Perceptron(eta0=0.1, max_iter=10, tol=0.0001)

In [14]:
p.score(x_train, y_train)

0.8292079207920792

In [15]:
y_prediction = p.predict(x_test)

In [16]:
print(y_prediction)

[0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0.
 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1.
 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0.
 0. 0. 0. 0. 1. 1.]

In [17]:
import numpy as np
output = pd.DataFrame({'CRIM' : x_test['CRIM'], 'Prediction' : np.array(y_prediction)})

In [18]:
output.to_csv('OutPut.csv')